In [2]:
# Importamos librerías de análisis de datos
import numpy as np
import pandas as pd

# plots
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline

In [3]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', index_col='id', parse_dates=['fecha'])

In [5]:
# nos quedamos con las columnas que nos interesan
df = df[['tipodepropiedad', 'metroscubiertos', 'metrostotales', 'precio']]
df.head(5)

           tipodepropiedad  metroscubiertos  metrostotales     precio
id
254099         Apartamento             80.0           80.0  2273000.0
53461   Casa en condominio            268.0          180.0  3600000.0
247984                Casa            144.0          166.0  1200000.0
209067                Casa             63.0           67.0   650000.0
185997         Apartamento             95.0           95.0  1150000.0

In [17]:
df[['metrostotales', 'tipodepropiedad']].sort_values(by = ['metrostotales'], ascending = False)

        metrostotales    tipodepropiedad
id
45131           439.0               Casa
108286          439.0            Terreno
277091          439.0            Terreno
38605           439.0  Terreno comercial
96716           439.0               Casa
...               ...                ...
123855            NaN               Casa
149503            NaN        Apartamento
267455            NaN        Apartamento
119879            NaN               Casa
121958            NaN        Apartamento

[240000 rows x 2 columns]

In [20]:
grouped = df.groupby('tipodepropiedad').agg({'metrostotales':'mean', 'precio':'mean'})
grouped.sort_values(by = ['metrostotales'], ascending = False)

                               metrostotales        precio
tipodepropiedad
Nave industrial                   284.111111  3.742600e+06
Terreno industrial                283.466667  3.647994e+06
Terreno comercial                 268.237736  2.472025e+06
Lote                              263.800000  9.887608e+05
Bodega comercial                  261.715040  2.693758e+06
Terreno                           261.586859  1.805202e+06
Inmuebles productivos urbanos     239.781457  3.743070e+06
Edificio                          231.461169  5.009499e+06
Casa uso de suelo                 228.425710  3.732469e+06
Quinta Vacacional                 214.346939  3.187426e+06
Villa                             192.595588  2.767352e+06
Casa                              183.767889  2.398158e+06
Casa en condominio                169.728656  2.898927e+06
Otros                             166.742857  2.881689e+06
Local Comercial                   165.258050  2.365064e+06
Oficina comercial                 163.987513  3.148533e+06
Rancho                            135.444444  4.032682e+06
Departamento Compartido           130.405941  2.560162e+06
Apartamento                       117.907762  2.763769e+06
Duplex                            100.283019  1.271758e+06
Local en centro comercial          92.796610  2.212631e+06
Huerta                             27.000000  3.543350e+06
Garage                                   NaN  5.000000e+05
Hospedaje                                NaN  3.000000e+06

In [21]:
grouped.sort_values(by = ['precio'], ascending = False)

                               metrostotales        precio
tipodepropiedad
Edificio                          231.461169  5.009499e+06
Rancho                            135.444444  4.032682e+06
Inmuebles productivos urbanos     239.781457  3.743070e+06
Nave industrial                   284.111111  3.742600e+06
Casa uso de suelo                 228.425710  3.732469e+06
Terreno industrial                283.466667  3.647994e+06
Huerta                             27.000000  3.543350e+06
Quinta Vacacional                 214.346939  3.187426e+06
Oficina comercial                 163.987513  3.148533e+06
Hospedaje                                NaN  3.000000e+06
Casa en condominio                169.728656  2.898927e+06
Otros                             166.742857  2.881689e+06
Villa                             192.595588  2.767352e+06
Apartamento                       117.907762  2.763769e+06
Bodega comercial                  261.715040  2.693758e+06
Departamento Compartido           130.405941  2.560162e+06
Terreno comercial                 268.237736  2.472025e+06
Casa                              183.767889  2.398158e+06
Local Comercial                   165.258050  2.365064e+06
Local en centro comercial          92.796610  2.212631e+06
Terreno                           261.586859  1.805202e+06
Duplex                            100.283019  1.271758e+06
Lote                              263.800000  9.887608e+05
Garage                                   NaN  5.000000e+05