In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [2]:
# Cargamos el dataframe
df = pd.read_csv('train.csv')
df = pd.concat([df, pd.read_csv('test.csv')])

In [4]:
df = df[['id', 'tipodepropiedad', 'habitaciones', 'banos']]
df.shape

(300000, 4)

In [5]:
df.habitaciones.isnull().any()

True

In [6]:
df['habitaciones'] = df['habitaciones'].fillna(df.groupby('tipodepropiedad')['habitaciones'].transform(np.mean))

In [7]:
df[df.habitaciones.isnull()]

            id tipodepropiedad  habitaciones  banos
17512    78161             NaN           NaN    NaN
20067   170109             NaN           NaN    NaN
22979   257049            Lote           NaN    NaN
28628    24043             NaN           NaN    NaN
58002   188386             NaN           NaN    NaN
65448   271322             NaN           NaN    NaN
66085   244122             NaN           NaN    NaN
89745    70279            Lote           NaN    NaN
95612   268952             NaN           NaN    NaN
96956   287353             NaN           NaN    1.0
126179  169168            Lote           NaN    NaN
131538  116902             NaN           NaN    NaN
139734  104078            Lote           NaN    NaN
148959  136796            Lote           NaN    NaN
167128  147449             NaN           NaN    NaN
173021  170284             NaN           NaN    NaN
176650  249147             NaN           NaN    NaN
185590  245563          Garage           NaN    NaN
191135  238121             NaN           NaN    NaN
197458  223385             NaN           NaN    NaN
201467  132580             NaN           NaN    NaN
202066  293611             NaN           NaN    NaN
215468  268706             NaN           NaN    NaN
217221  212213             NaN           NaN    NaN
13702   177475             NaN           NaN    NaN
15832   283008             NaN           NaN    NaN
26720    31177             NaN           NaN    NaN
50227   152939            Lote           NaN    NaN

In [8]:
df.habitaciones = df.habitaciones.fillna(0)

In [9]:
df.banos.isnull().any()

True

In [10]:
df['banos'] = df['banos'].fillna(df.groupby('tipodepropiedad')['banos'].transform(np.mean))

In [11]:
df[df.banos.isnull()]

            id tipodepropiedad  habitaciones  banos
13957    48797             NaN           5.0    NaN
15598   111329             NaN           4.0    NaN
17512    78161             NaN           0.0    NaN
20067   170109             NaN           0.0    NaN
22979   257049            Lote           0.0    NaN
28628    24043             NaN           0.0    NaN
44916   162314             NaN           3.0    NaN
45331    11234             NaN           4.0    NaN
47533    34286             NaN           3.0    NaN
57029    16605       Hospedaje           7.0    NaN
58002   188386             NaN           0.0    NaN
65448   271322             NaN           0.0    NaN
66085   244122             NaN           0.0    NaN
89745    70279            Lote           0.0    NaN
94778   208435             NaN           3.0    NaN
95612   268952             NaN           0.0    NaN
98161   208660             NaN           2.0    NaN
106465  121158             NaN           3.0    NaN
126179  169168            Lote           0.0    NaN
131538  116902             NaN           0.0    NaN
139734  104078            Lote           0.0    NaN
148959  136796            Lote           0.0    NaN
149096   38804             NaN           3.0    NaN
161448  158166             NaN           3.0    NaN
167128  147449             NaN           0.0    NaN
173021  170284             NaN           0.0    NaN
176650  249147             NaN           0.0    NaN
185590  245563          Garage           0.0    NaN
187891   56531             NaN           3.0    NaN
191135  238121             NaN           0.0    NaN
197458  223385             NaN           0.0    NaN
197899   11970             NaN           3.0    NaN
201467  132580             NaN           0.0    NaN
202066  293611             NaN           0.0    NaN
206154  261646             NaN           3.0    NaN
215468  268706             NaN           0.0    NaN
217221  212213             NaN           0.0    NaN
13702   177475             NaN           0.0    NaN
15832   283008             NaN           0.0    NaN
26720    31177             NaN           0.0    NaN
50227   152939            Lote           0.0    NaN
50869    22332             NaN           3.0    NaN

In [12]:
df.banos = df.banos.fillna(0)

In [18]:
df[df.tipodepropiedad.isnull()]

            id tipodepropiedad  habitaciones  banos
5307    230046     Desconocida           3.0    3.0
8273     68458     Desconocida           3.0    2.0
13957    48797     Desconocida           5.0    0.0
15598   111329     Desconocida           4.0    0.0
15763   231968     Desconocida           4.0    2.0
16949     1517     Desconocida           2.0    2.0
17512    78161     Desconocida           0.0    0.0
20067   170109     Desconocida           0.0    0.0
25310    49448     Desconocida           3.0    3.0
26290   273036     Desconocida           2.0    1.0
28628    24043     Desconocida           0.0    0.0
44916   162314     Desconocida           3.0    0.0
45331    11234     Desconocida           4.0    0.0
47533    34286     Desconocida           3.0    0.0
50496   286805     Desconocida           2.0    1.0
58002   188386     Desconocida           0.0    0.0
65448   271322     Desconocida           0.0    0.0
66085   244122     Desconocida           0.0    0.0
94778   208435     Desconocida           3.0    0.0
95612   268952     Desconocida           0.0    0.0
96956   287353     Desconocida           0.0    1.0
98161   208660     Desconocida           2.0    0.0
103035  247550     Desconocida           3.0    3.0
106465  121158     Desconocida           3.0    0.0
115794   87335     Desconocida           3.0    3.0
131538  116902     Desconocida           0.0    0.0
132639  217445     Desconocida           2.0    2.0
134118  155495     Desconocida           3.0    3.0
149096   38804     Desconocida           3.0    0.0
161448  158166     Desconocida           3.0    0.0
167128  147449     Desconocida           0.0    0.0
173021  170284     Desconocida           0.0    0.0
175208   82387     Desconocida           3.0    4.0
176650  249147     Desconocida           0.0    0.0
187891   56531     Desconocida           3.0    0.0
191135  238121     Desconocida           0.0    0.0
197458  223385     Desconocida           0.0    0.0
197899   11970     Desconocida           3.0    0.0
201467  132580     Desconocida           0.0    0.0
202066  293611     Desconocida           0.0    0.0
205172  122418     Desconocida           3.0    1.0
206154  261646     Desconocida           3.0    0.0
215468  268706     Desconocida           0.0    0.0
217221  212213     Desconocida           0.0    0.0
218665  155905     Desconocida           2.0    1.0
236452   94767     Desconocida           3.0    3.0
13702   177475     Desconocida           0.0    0.0
15832   283008     Desconocida           0.0    0.0
26720    31177     Desconocida           0.0    0.0
38993   290726     Desconocida           3.0    2.0
46981   288517     Desconocida           3.0    3.0
47296   274853     Desconocida           3.0    4.0
50869    22332     Desconocida           3.0    0.0

In [19]:
df['tipodepropiedad'] = df['tipodepropiedad'].fillna('Desconocida')

In [20]:
df['tipodepropiedad'].value_counts()

Casa                             177132
Apartamento                       71572
Casa en condominio                24208
Terreno                           12390
Local Comercial                    3846
Oficina comercial                  2156
Bodega comercial                   1766
Edificio                           1740
Terreno comercial                  1660
Casa uso de suelo                   930
Quinta Vacacional                   495
Villa                               438
Duplex                              424
Inmuebles productivos urbanos       256
Local en centro comercial           208
Rancho                              206
Departamento Compartido             179
Otros                               172
Nave industrial                      99
Desconocida                          53
Terreno industrial                   37
Huerta                               25
Lote                                  6
Hospedaje                             1
Garage                                1
Name: tipodepropiedad, dtype: int64

In [21]:
one_hot_encoding = pd.get_dummies(df['tipodepropiedad'])
one_hot_encoding.shape

(300000, 25)

In [22]:
df = df.drop('tipodepropiedad', axis= 1)

(300000, 3)

In [23]:
df.head(1)

       id  habitaciones  banos
0  254099           2.0    2.0

In [24]:
df = pd.concat([df, one_hot_encoding], axis=1)

In [25]:
df.shape

(300000, 28)

In [26]:
df=df.fillna(0)
df.to_csv('features_ambientes_ROB.csv',index=False)