In [1]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv("train.csv", low_memory=False)
test_df = pd.read_csv("test.csv", low_memory=False)
data = pd.read_csv("data_set.csv", low_memory = False)

In [3]:
train_df = train_df[['id','precio']]

In [4]:
features = pd.merge(train_df, data, on='id', how='inner')
features = features.fillna(0)

In [5]:
features.describe()

,id,precio,days_to_today,año,antiguedad,centroscomercialescercanos,escuelascercanas,habitaciones,garages,banos,...,Quintana Roo,San luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz,Yucatán,Zacatecas
count,240000.000000,2.400000e+05,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,...,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000
mean,149969.382092,2.530838e+06,1682.571346,2014.675383,6.643208,0.396533,0.444142,2.630583,1.303467,1.899442,...,0.019817,0.035196,0.007525,0.012450,0.004142,0.009596,0.003496,0.024008,0.033033,0.000392
std,86634.579744,2.152552e+06,515.122141,1.358111,9.192161,0.489179,0.496871,1.201643,0.964946,1.088248,...,0.139370,0.184275,0.086420,0.110883,0.064223,0.097487,0.059022,0.153075,0.178724,0.019787
min,1.000000,3.100000e+05,1044.000000,2012.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74930.750000,9.527725e+05,1229.000000,2014.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149875.500000,1.850000e+06,1577.000000,2015.000000,4.000000,0.000000,0.000000,3.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,225016.500000,3.390000e+06,2068.000000,2016.000000,10.000000,1.000000,1.000000,3.000000,2.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,299999.000000,1.252500e+07,2870.000000,2016.000000,80.000000,1.000000,1.000000,10.000000,3.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
labels = features['precio']
features = features.drop(['id','precio'], axis=1)

In [7]:
gnb = GaussianNB()
y_pred = gnb.fit(features, labels)

In [19]:
set_test = pd.merge(data, test_df[['id']],on = "id", how = "inner")
ids = set_test["id"]
set_test = set_test.drop(columns=['id'])
set_test = set_test.fillna(0)

In [26]:
df_kaggle_gaussiannb = pd.DataFrame(y_pred.predict(set_test))
df_kaggle_gaussiannb.head()

           0
0  1672044.0
1  2374370.0
2  7851000.0
3  1328236.0
4   789500.0

In [27]:
df_kaggle_gaussiannb["id"] = ids
df_kaggle_gaussiannb.rename(columns = {0: 'target'},inplace = True) 
df_kaggle_gaussiannb = df_kaggle_gaussiannb[['id','target']]

In [29]:
df_kaggle_gaussiannb.to_csv('ResultadosGNaiveBayes.csv',index=False)